<style>
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Noto+Serif+JP:wght@700&display=swap');
</style>

<style>
.bxslider
{
width:100%;
max-width: 100%;
height: auto;
}
</style>

* {
    margin: 0px;
    padding: 0px;
}

/*見出し
h1 { font-size: 26px;}
h2 { font-size: 18px;}
h3 { font-size: 16px;}
*/

/*ページ*/
#page {
    width: 1450px;
    height: auto;
    margin: 0 0;
   
}
/*見出し*/
.pageTitle {
    font-size: 40px;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    background-color: #f2f2e5;
}
.pageSubTitle {
    font-size: 30px;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
}

/*表紙写真*/
.name {
    font-size: 20px;
   

}
.introducepooh {
    width: 450px;
    float: left;
    background-color: lightskyblue;
    text-align: center;
    margin: 0 30px 30px 200px;
    padding-top: 30px; 
    padding-bottom: 30px;
    position: relative;
    border-radius: 30px;
}
.introducepoohText {
    /*float: left;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 20px;
    text-align: center;*/
    position: absolute;
    left: 30px;
    bottom: 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    width: 160px;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
}
.introducepoohText h2 {
    font-size: 20px;
}
.introducepoohText p {
    font-size: 15px;
}

.introducepappy {
    width: 450px;
    float: left;
    background-color: lightpink;
    text-align: center;
    margin: 0 100px 30px 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    border-radius: 30px;
    
}
.introducepappyText {
   /* float: left;
    margin-top: 100px;
    margin-left: 10px;
    text-align: center;*/
    position: absolute;
    left: 30px;
    bottom: 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    width: 160px;
    padding: 0px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
}
.introducepappyText h2 {
    font-size: 20px;
}
.introducepappyText p {
    font-size: 15px;
}


/*各ページタイトル*/

.articleTitle p {
    font-size: 40px;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    background-color: #f2f2e5;
    margin: 0 0;
    padding-bottom: 0;
 
}



#floatboxA {
    width: 350px;
    float: left;
    
    margin: 20px 50px 50px 200px;
    padding: 20px 50px 0px;
}
#floatboxB {
    width: 350px;
    float: left;
   
    margin: 20px 50px 50px 50px;
    padding: 20px 50px 0px;
}

.size1 {
    width: 225px;
    height: 250px;
}

.size2 {
    width: 168px;
    height: 300px;
}

.size3 {
    width: 350px;
    height: 197px;
}
.size4 {
    width: 221px;
    height: 300px;
}
.size5 {
    width: 263px;
    height: 350px;
}
.size6 {
    width: 400px;
    height: 301px;
}
.size7 {
    width: 197px;
    height: 350px;
}
.size8 {
    width: 450px;
    height: 253px;
}
.size9 {
    width: 622px;
    height: 350px;
}
.size10 {
    width: 196px;
    height: 350px;
}
.size11 {
    width: 196px;
    height: 350px;
}
.size12 {
    width: 310px;
    height: 550px;
}
.size13 {
    width: 180px;
    height: auto;
}
.size14 {
    width: 240px;
    height: auto;
}
.size15 {
    width: 248px;
    height: 330px;
}
.size16 {
    /*width: 350px;
    height: 197px;*/
    width: 37%;
    height: auto;
}
.size17 {
    width: 200;
    height: auto;
}
.size18 {
    width: 237;
    height: 149;
}
.size19 {
    width: 30%;
    height: auto;
}
.size20 {
    width: 10%;
    height: auto;
}
.size21 {
    width: 100%;
    height: auto;
}
.size21 {
    width: 100%;
    height: auto;
}





.picture {
    width: 1400px;
    height: 680px;
    padding: 0 0 0;
    line-height: 0;
   margin-left: 40px;
   
}
.picture ul li { 
    text-align: right;
    width: 1300px;
    list-style-type: none;
    line-height: 0;
}
.subtitle {
    position: absolute;
    top: 420px;
    left: 1100px;
    color: #777777;
}
.homelink {
    position: absolute;
    top: 50px;
    left: 1300px;
} 
.poohphoto {
    position: absolute;
    top: 120px;
    left: 1090px;
   
}

.poohphoto1 {
    /*position: relative;*/
    width: 1000px;
    height: 350px;
    margin-bottom: 20px;
    padding-left: 200px;

}
.poohphoto2 {
    /*position: relative;*/
    width: 1300px;
    height: 350px;
    margin-top: 10px;
    padding-left: 20px;
}
.enjoytext {
    position: absolute;
    top: 420px;
    left: 510px;
    color: #777777;
}
.picturee {
    margin-left: 40px;
}
.link {
    float: left;
    position: absolute;
    top: 40px;
    left: 20px;
}
.link p a {    
    color: #777777;
}
#link1 {
    float: left;
    position: absolute;
    top: 90px;
    left: 20px;
}
#link1 p a {
    color: #777777;
}
#papiposi {
    margin-left: 200px;
}
#poohposi {
    margin-left: 150px;
}
#enjoyposi {
    margin-left: 200px;
    
}
#other1 {
    margin-left: 185px;
    /*background-color: seagreen;*/
    float: left;
}
#other2 {
    margin-left: 170px;
    margin-top: 20px;
    float: left;
    /*background-color: orangered;*/
}

#other4 {
    width: 120px;
    height: 180px;
    margin: 180px 0 10px 0;
    /*background-color: pink;*/
    float: left;
    color: #777777;
}
#other5 {
   
    width: 430px;
    height: 180px;
    text-align: center;
    line-height: 20px;
    float: right;
    position: relative;
    z-index: 1;
    margin-right: 20px;
    /*background-color: purple;*/

}

#other5 p {
    font-size: 14px;
    color: #777777;
}
#other3 {
   
     float: left;
     position: absolute;
    top: 420px;
    left: 530px;
    z-index: 0;
    /* background-color: palegreen;*/
 }

#sleep8 {
    position: absolute;
    top: 80px;
    left: 195px;
}
#byepapi {
    margin-left: 200px;
    margin-top: 40px;
    width: 160px;
   height: 700px;
   float: left;
    /*background-color: lime;*/
}
#byepapi img {
    margin-left: 2px;
    width: 95%;
    height: auto;
  
}
#byepapi2 {
    float: left;
    width: 500px;
    height: 700px;
    margin: 30px 20px 10px 2px;

    /*background-color: mediumpurple;*/
}
#byepapi2 img {
    width: 99%;
    height: auto;
}

/*#byepapi3 {
   float: right;
    width: 300px;
    height: 200px;
    margin: 0 20px 30px 0;
    
    background-color: magenta;
}
#byepapi3 img {
    width: 50%;
    height: auto;
}*/
#byepapi5 {
    margin-top: 40px;
    margin-left: 1040px;
    width: 380px;
    height: 400px;
    text-align: center;
    line-height: 1;
    /*background-color: cornflowerblue;*/
}
#byepapi5 p {
    font-size: 15px;
    color: #777777;
}

#byepapi6 {
    width: 160px;
    height: 200px;
    text-align: center;
    float: right;
    line-height: 2;
    margin: 35px 5px 5px 1px;
    
    color: #777777;
    /*background-color: bisque;*/
}
/*チューリップ写真*/
#byepapi7 img{
    width: 13%;
    height: auto;
    float: right;
    margin-top: 20px;
    margin-right: 30px;

}    
#byepapi4 {
   margin-top: 40px;
    width: 170px;
   height: 700px;
   float: left;
   margin-right: 0;
   /*background-color: navajowhite;*/
}
#byepapi4 img {
    width: 83%;
    height: auto;
}
#pooh1 img {
    width: 170px;
    height: auto;
}
#floatboxC {
    width: 200px;
    height: auto;
    float: right;
    margin-right: 50px;
    position: absolute;
    top: 310px;
    left: 1050px;
}
#pooh1 {
    width: 1200px;
    height: 700px;
    margin-left: 200px;
    position: relative;
    /*background-color: aquamarine;*/
}
#pooh2 {
width: 200px;
height: 100px;

color: #777777;
position: absolute;
top: 620px;
left: 1150px;
/*background-color: cadetblue;*/
}
#pooh2 p {
    font-size: 18px;
}
#picturesmile {
    margin-left: 180px;
}